body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}

.hero {
    background-color: #ddd;
    height: 100vh;
    color: #050721;
    font-size: 40px;
}

.header 
{
  height: 80px;
  padding: 0 24px;
  /* margin: 50px; */
  display: flex;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.08) 0 1px 12px; */
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}   

.header_search 
{
    display: inline-flex;
    border-radius: 24px;
    overflow: hidden;
    align-items: center;
    border: 2px solid pink;
    box-shadow : 0 2x 4px rgba(0, 0, 0, 0,0.5);
}

._1xq16jy 
{
    display: block;
    border: 0px solid crimson;
    margin: 0px;
    padding: 0px;
    width: 30%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-overflow: ellipsis !important;
}

.header_search:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }

.header_search button {
    background: transparent;
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border: none;
    font-family: "Circular Medium";
    cursor: pointer;
}

.header_search span {
    width: 1px;
    height: 24px;
    background: #ddd;
  }

.header_searchIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #8FCB9B;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

/* MAP */
.main
{
    position: relative;
    padding-top: 80px;
}
.main__map 
{
    background: pink;
    width: calc(100% - 840px);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.main__googleMap
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
#map 
{
    height: 100%;
    width: 100%;
}


/*2eme SECTION */

.main-content {
  min-height: calc(100vh - 80px);
  width: 840px;
  padding: 60px 24px 0;
}

.main-content , span 
{
  color: #1762A7;
  margin-top: 80;
}
.main-content h1
{
  margin-top: 200px;
  font-size: 30px;
  color: #222;
}
.main_filters 
{
  padding-top: 20px;
}
.main_filters button 
{
  margin-right: 6px;
}
.main_scarcity
{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

button 
{
  padding: 8px 16px;
  outline: none;
  background: transparent;
  margin: 0;
}
button.outlined 
{
  border: 1px solid #b0b0b0;
}
button.outlined:hover 
{
  border-color: #222;
}
button.curved 
{
  border-radius: 30px;
}
.listings_details 
{
    display: flex;
    justify-content: space-between;
}
.listings_price 
{
    text-align: right;
    display: flex;
    flex-direction: column;
}
.listings_night
{
    font-size: 18px;
    font-family: 'Circular Bold';
}
.listings_rating
{
    display: flex;
    margin-top: auto;
}
.listings_rating img 
{
    width: 14px;
    margin-right: 4px;
}
  .listings_rating span 
{
    font-family: "Circular Medium";
}
  .listings_rating span span 
{
    font-family: "Circular Book";
    color: var(--grey-text-light);
}
.listings_description 
{
    padding-top: 15px;
}
  .listings_description span 
{
    display: block;
    margin-bottom: 5px;
}
.listings_item 
{
    border-top: 1px solid #ebebeb;
    padding: 24px 0;
    display: flex;
}
.listings_image 
{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.listings_image img 
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.listings_title 
{
    display: flex;
    justify-content: space-between;
}
.listings_title button 
{
    background: none;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    position: relative;
    padding: 0;
    cursor: pointer;
}
.listings_title button:hover:after 
{
    opacity: 1;
}
.listings_title button:after 
{
    opacity: 0;
    background: var(--grey-light);
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: -1;
}
.listings_title h2 
{
    font-size: 18px;
    font-family: "Circular Medium";
    color: var(--grey-text-dark);
    margin: 5px 0 15px;
    font-weight: 400;
}
.listings_content 
{
    width: calc(100% - 300px);
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.greyText 
{
    font-size: 14px;
    line-height: 18px;
    color: #222;
    font-family: "Circular Light";
}
.separator 
{
    width: 32px;
    height: 1px;
    background: var(--grey-med);
}
  

/* h1 {
    font-size: 50px;
    margin: 0;
} 

h2 {
    font-size: 50px;
} */

/* p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
} */

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}



.logo {
    height: 80px;
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background: wheat;
}

/* Modal */

.modal 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
  
.modal.active 
{
    transform: translate(-50%, -50%) scale(1);
}
  
.modal-header 
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
  
.modal-header .title 
{
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-header .close-button 
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-body 
{
    padding: 10px 15px;
}
  
#overlay 
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
  
#overlay.active 
{
    opacity: 1;
    pointer-events: all;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
}
