body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

section {
  background-color: white;
}

.hero {
  background-color: blue;
  height: 100vh;
  color: #050721;
  font-size: 40px;
}

.header_search {
  display: inline-flex;
  display: write;
  align-items: write;
  border-radius: 24px;
  overflow: hidden;
  align-items: center;
  border: 1px solid pink;
  box-shadow: 0 2x 4px rgba(0, 0, 0, 0, 0.5);
  position: absolute;
  position: absolute;
  right: 20px;
  margin-top: 20px;
  background-color:green;

 
  

}

.header_search:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  color: green;
}

.header_search button {
  background: transparent;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border: none;
  font-family: 'Circular Medium';
  cursor: pointer;
}

.header_search span {
  width: 1px;
  height: 24px;
  background: #ddd;
}

.header_searchIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.main {
  font: 100;
  color: blue;
  background-color: #7DF9FF, #0892D0, #23B2EE;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: #8fcb9b;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #a9a9a9;
  color: #808080;
}

/* MAP */

.main-content {
  height: 140vh;
  margin-top: 5px;
  margin-bottom: 10px;
}

.main-content,
span {
  color: #1762a7;
  
}
.main-content h1 {
  margin-top: 5px;
  font-size: 34px;
  color: #222;
}

button.curved {
  border-radius: 30px;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  height: 80px;
  margin: 30px;
}



.headshot {
  width: 300px;
  border-radius: 150px;
  margin-left: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #2b2c38;
    margin: 0ppx;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #2b2c38;
  }

  .logo {
    display: none;
  }
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 370px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}